body {
    background-color:  rgba(252, 243, 240, 0.884);
    margin: 0pt;
    width: 100%;
}

.nav{
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    background-color: rgba(129, 113, 122, 0.822);
    height: 20pt;
}

A:link{
    color:rgba(58, 39, 47, 0.897);
    margin-left: 10pt;
    text-decoration: none;
}

A:visited{
    color:rgba(66, 63, 54, 0.788);
    text-decoration: underline;
    margin-left: 10pt;
}

A:hover{
    color:rgba(207, 200, 233, 0.918);
    text-decoration: underline;
    margin-left: 10pt;
}

.menu{
    margin: 0pt;
    height: 120pt;
    background-image: url(../СРС/images/menu.jpg);    
    background-size: cover;
}

.name{
    font-family: 'Poiret One', cursive;
    font-size: 50pt;
    text-align:center;
    font-weight: bold;
    text-shadow: rgb(150, 137, 137) 5px 3px 5px, rgb(155, 152, 156) 10px 6px 4px;
    color: rgb(235, 224, 228);
    letter-spacing: 12pt;
    padding-top: 25pt;
}

.napitki{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 32pt;
    padding-top: 0pt;
}


.text1{
    padding-top: 10pt;
    text-align: center;
    font-family: 'Comfortaa', cursive;    
    font-size: 14pt;
    background-color: rgb(102, 89, 96);
    margin: 0pt;
    color: whitesmoke;
    height: 25pt;
    border-top: 3pt groove rgb(221, 211, 215);
    border-bottom: 3pt groove rgb(221, 211, 215)  ;
}

.container{
    padding-top: 10pt;
    background: linear-gradient(45deg, #d8c3cc, #f0e2ce);
    padding-bottom: 10pt;
    margin-bottom: 0pt;
    border-bottom: 3pt solid rgb(155, 152, 156);
    display: flex;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
}

.card{
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-item{
    background-color: lavender;
   
    transition: transform 0.2s;
}

.salaty{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 32pt;
    padding-top: 0pt;
    margin-top: 0pt;
    
}

.text2{
    padding-top: 10pt;
    text-align: center;
    font-family: 'Comfortaa', cursive;    
    font-size: 14pt;
    background-color: rgba(109, 115, 119, 0.945);
    margin: 0pt;
    color: whitesmoke;
    height: 25pt;
    border-top: 3pt groove rgb(221, 211, 215);
    border-bottom: 3pt groove rgb(221, 211, 215)  ;
}

.pics-2{
    padding-top: 10pt;
    text-align: center;
    background: linear-gradient(45deg, #97a5adf5, #d5d8ca);
    padding-bottom: 10pt;
    margin-bottom: 0pt;
    border-bottom: 3pt solid rgb(155, 152, 156);
    margin-left: 0pt;
}

.text3{
    padding-top: 10pt;
    text-align: center;
    font-family: 'Comfortaa', cursive;    
    font-size: 14pt;
    background-color: rgba(152, 155, 138, 0.945);
    margin: 0pt;
    color: whitesmoke;
    height: 25pt;
    border-top: 3pt groove rgb(221, 211, 215);
    border-bottom: 3pt groove rgb(221, 211, 215)  ;
}

.pics-3{
    padding-top: 10pt;
    text-align: center;
    background: linear-gradient(45deg, #a3ad97f5, #e9cfc0);
    padding-bottom: 10pt;
    margin-bottom: 0pt;
    border-bottom: 3pt solid rgb(155, 152, 156);
    margin-left: 0pt;
    margin-bottom: 0pt;
}

.part3{
    margin-bottom: 0pt;
}
